# macOS
.DS_Store

# VS Code
.vscode/

# Build directory
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Object / Libraries
*.o
*.a

# Executables
main
*.out
*.exe

benchmark_insert
benchmark_match
benchmark_cancel

test_matching
test_cancel
test_edge_cases

benchmark_run

# Logs
*.log